* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
  font-size: 16px;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: 'Mulish', sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

/* Check list link style */
nav ul li a {
  text-decoration: none;
  font-size: 1.125em;
}

a:visited { text-decoration: none; color:#898794; }

/* Make text bold on hover */
nav ul li a:hover {
  font-weight: bold;
  color: #1F1534;
}


main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 3em;
  font-weight: 400;
}

/* Check font styling */
.text h1 span {
  font-weight: 700;
  color: #89C5CC;
}

/* Check font styling */
.text p {
  margin-top: 16px;
  font-family: 'Open Sans', sans-serif; 
  color: #7D7987;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  gap: 8px;
  background-color: #69B99D;
  border: none;
  border-radius: 4px;
  height: 56px;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  margin-top: 48px;
  font-size: 1em;
}

.text button img{
  width: 24px;
  height: 24px;
}

/* Handle when user hover on the button */
.text button:hover {
  color: #4A9A7E;
  font-size: 1em;
}

.text img{
  width: 50%;
}

/* Check the text styling */
footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  font-size: 0.875em;
  line-height: 22.4px;
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

